img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.top {
    width: 100%;
}

.style {
    width: 100%;
}

.mainview {
    width: 100%;
}









/* .buttonErea01 {
    width: 100%;
} */

.buttonErea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 5;
   width: 100%;
}
/* 
.btn01{
    width: 49.2%;
    /* bottom: 20px;  */
}

.btn02{
    width: 49.2%;
} */

.buttonErea02 {
    width: 100%;
}

.contents01 {
    width: 100%;
}

.contents1 {
    width: 100%;
}

.contents02 {
    width: 100%;
}

.contents2 {
    width: 100%;
}

.contents03 {
    width: 100%;
}

.contents3 {
    width: 100%;
}

.contents04 {
    width: 100%;
}

.contents4 {
    width: 100%;
}

.contents05 {
    width: 100%;
}

.contents5 {
    width: 100%;
}

.contents06 {
    width: 100%;
}

.contents6 {
    width: 100%;
}
/* 
.contents04 {
    position: relative;
}

.contents4 {
    width: 100%;
}

.staff01 {
    position: absolute;
    top: 13.8%;
    left: 75%;
}

.staff1 {
    width: 70%;
}

.staff02 {
    position: absolute;
    top: 35%;
    left: 75%;
}

.staff2 {
    width: 70%;
}

.staff03 {
    position: absolute;
    top: 56.2%;
    left: 75%;
}

.staff3 {
    width: 70%;
}

.staff04 {
    position: absolute;
    top: 78%;
    left: 75%;
}

.staff4 {
    width: 70%;
}

.contents05 {
    width: 100%;
}

.contents5 {
    width: 100%;
}

.contents06 {
    width: 100%;
}

.contents6 {
    width: 100%;
}

.OUTLINE {
    width: 100%;
}

.outline {
    width: 100%;
}

.StoreInformation {
    position: relative;
}

.image {
    width: 100%;
}

.store01 {
    position: absolute;
    top: 16%;
    left: 77%;
}

.store1 {
    width: 70%;
}

.store02 {
    position: absolute;
    top: 57.1%;
    left: 77%;
}

.store2 {
    width: 70%;
}

.FLOW {
    width: 100%;
}

.flow {
    width: 100%;
}

.footer {
    position: relative;
}

.image {
    width: 100%;
}

.button {
    position: absolute;
    top: 35%;
    left: 10%;
} */

/* .hp {
    width: 90%;
} */























